<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>Confirm</title>
</head>
<body>
{% block general %}
<div style="width:1366px">
{% block heading %}
<div id="heading" style="color:#06F;">
<h2>{{item.itemName}}</h2>
</div>
<form action="" method="POST">
Enter nos:{{addnos.number}}
<input type="submit" value="Submit"/>
</form>
<p style="margin-top:20px;"><a href="/admin_page/edit_item">Edit another item number</a></p>
<p style="margin-top:20px;"><a href="/admin_page">Return to admin page</a></p>
<p style="margin-top:3px;"><a href="/logout">Logout to go to homepage</a></p>
{% endblock %}
{% endblock %}
</body>
</html>