<html>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>Homepage</title>
{% load staticfiles %}
<link rel="stylesheet" href="static/style.css" type="text/css" />
<div id="header">
<div class="header-welcome"><h2><p>Welcome</p></h2></div>
<div class="header-canteen"><p>College of Engineering Chengannur Canteen<p></div>
</div>
<div class="clear"></div>
<div style="margin:0;padding:0;">
<div id="quote">
<p style="margin-left:55px;"><a href="admin_login">Administrator login</a></p>
<p style="margin-left:80px;"><a href="login">User Login</a></p>
<p style="margin-left:87px;"><a href="register">Sign Up</a></p>
</div>
</div>
</body>
</html>